@{
    ViewData["Title"] = "公司位置管理";
}
@using CheckIn.Common.Models
@using PagedList.Core
@using PagedList.Core.Mvc



@model IPagedList<LocationModel>

<div class="container">
    <h1 class="page-header">公司位置管理</h1>
    <button type="button" class="btn btn-success" onclick="window.location.href='/Location/Add'">添加位置</button>
    <table class="table table-hover">

        <thead>
            <tr>
                <th>分公司名称</th>
                <th>第一个坐标</th>
                <th>第二个坐标</th>
                <th>第三个坐标</th>
                <th>第四个坐标</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><text>@item.LocationName</text></td>
                    <td><text>@item.Location1</text></td>
                    <td><text>@item.Location2</text></td>
                    <td><text>@item.Location3</text></td>
                    <td><text>@item.Location4</text></td>
                    <td><button type="button" class="btn btn-info" onclick="window.location.href='/Location/Edit?LocationID=@item.LocationID'">编辑</button><button type="button" class="btn btn-danger" onclick="Delete(@item.LocationID,this)">删除</button></td>
                </tr>
            }
        </tbody>
    </table>
    <pager list="Model" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Index" asp-controller="Location"></pager>
</div>




@section Scripts
{
    <script>
        function Delete(id, button) {
            $.get("/Location/Delete?LocationID=" + id, function (result) {
                if (result == "ok") {
                    alert("删除成功");
                    var todel = button.parentNode.parentNode;
                    todel.parentNode.removeChild(todel);
                }
                else {
                    alert("失败，请重试")
                }
            })
        }
    </script>

}